* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 15px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

body.lock {
  overflow: hidden;
}

.main__burger {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  display: block;
  width: 23px;
  height: 19px;
  position: relative;
  z-index: 3;
}

.main__burger:focus {
  outline: none;
}

.main__burger::-moz-focus-outer {
  border: 0;
  padding: 0;
}

.main__burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger-name {
  position: absolute;
  text-transform: uppercase;
  font-family: "Poppins",sans-serif;
  color: #3f536c;
  font-weight: 700;
  font-size: 10px;
  top: 5px;
  left: 27px;
}

.main__burger span {
  position: absolute;
  background-color: #3f536c;
  left: 0;
  width: 16px;
  height: 3px;
  top: 8px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  border-radius: 17%;
}

.main__burger:before,
.main__burger:after {
  content: "";
  background-color: #3f536c;
  position: absolute;
  width: 20px;
  height: 3px;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  border-radius: 17%;
}

.main__burger:before {
  top: 0;
}

.main__burger:after {
  bottom: 0;
}

.main__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.main__burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.main__burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
}

.main-navigation {
  z-index: 2;
  position: fixed;
  max-width: 100%;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  background-color: #000;
  opacity: .9;
  padding: 70px 10px 20px 10px;
}

.main-navigation.active {
  top: 0;
}

.main-navigation__list {
  display: block;
  text-align: center;
  margin: 100px 0px 0px 0px;
}

.menu-item {
  padding: 0 0 40px 0;
  text-align: center;
}

.main-navigation__list a {
  font-weight: 800;
  font-size: 24px;
  color: #fff;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sm-logo {
  padding: 25px 0px 25px 0px;
  z-index: 2;
}

.bg-logo {
  display: none;
}

.user {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.user:focus {
  outline: none;
}

.user::-moz-focus-outer {
  border: 0;
  padding: 0;
}

.user::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .sm-logo {
    display: none;
  }

  .bg-logo {
    display: block;
  }
}

@media (max-width: 1196px) {
  .container {
    max-width: 970px;
    padding: 0 20px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
    padding: 0 20px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}